#user						root;
#error_log					error.log;
max_simultaneous_clients	666;

index						index.html;
root						./www/;
autoindex					on;
upload_files				off;
mime_types					src/config/sample.mime;

server { upload_rights 644; listen 2356; server_name localhost; methods GET; }