# Formatting hints :
# - you can put comments like in Makefile style
# - starting brace must be on the same line as the block it serves
# - you can write multiple instructions or braces in a single line
# - the data blocks (i.e. "{}" must be placed at the end of their current block)
# - the route block begin with an underscore followed by the route 
#   in a relative ou absolute path

## GLOBAL SCOPE ONLY

user						www; # optionnal
error_log					path/to/error_log; # optionnal too
max_simultaneous_clients	666; # same

# these two are not yet implemented (idk if they're useful)
default_mime_type			string_default_mime_type;
mime_types					path/to/mime_types;

# ALL SCOPE ELEMENTS

index						index1 index2 index3;
error_page					404 path/to/404_page;
root						path/to/root;
autoindex					on;
upload_files				off;
upload_rights				644;

server {	# server block
			# these two are server only
	listen				ip port; # can be just one of them
	server_name			server_name server_name2 server_name3;

	error_page			400 path/to/400_page;
	redirection			301 path/where/redirected;
	root				path/to/root;
	autoindex			off;
	body_limit			0;
	methods				GET POST DELETE;

	_<loc> {
		cgi				.php path;
		upload_path		path;
		# basically same stuff as above except for the first ones
	}
	_<loc2> { redirection 304 path/to/not/modified/res; } # single line bloc

	_images { upload_files on; upload_path res/images/; }
}
