# Formatting hints :
# you can put comments like in Makefile style
# you can write multiple instructions or braces in a single line
# the data blocks (i.e. "{}" must be placed at the end of their current block)
# the route block begin with the route in a relative ou absolute path

## GLOBAL SCOPE ONLY

user						www; # optionnal
error_log					path/to/error_log; # optionnal too
max_simultaneous_clients	666; # same
default_mime_type			string_default_mime_type;
mime_types					path/to/mime_types; # actually everything here is optionnal

# ALL SCOPE ELEMENTS

index						index1 index2 index3; # it picks the first available
error_page					404 path/to/404_page;
root						path/to/root;
autoindex					on;

server
{	# server block
	# these two are server only
	listen				ip port;
	server_name			server_name server_name2 server_name3;

	error_page			400 path/to/400_page;
	redirection			301 path/where/redirected;
	root				path/to/root;
	autoindex			off;
	body_limit			0;

	<loc> {
		# basically same stuff as above except for the first ones
	}
	<loc2> { redirection 304 path/to/not/modified/res; } # single line bloc
}